{{ header }}{% set col = column_left ? 9 : 12 %}{% set col = column_right ? col - 3 : col %}
<link href="catalog/view/theme/prostore/stylesheet/portfolio.css" rel="stylesheet" />
<!-- Main :: Start-->
<main class="main">
	<!-- Breadcrumbs :: Start-->
	<div class="breadcrumbs">
		<div class="container-fluid">
			<h1 class="breadcrumbs__title">{{ heading_title }}</h1>
			<ul class="breadcrumbs__menu">
				{% for i, breadcrumb in breadcrumbs %}
					{% if (i + 1 < breadcrumbs|length) %}
					<li><a class="breadcrumbs__link" href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
					{% else %}
					<li>{{ breadcrumb.text }}</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- Breadcrumbs :: End-->

	{{ content_top }}
	<div class="row">
		{{ column_left }}
		<div class="col-xl-{{ col }}">
			<!-- Portfolio List :: Start-->
			<div class="portfolio-list">
				<div class="container-fluid">
					<ul class="portfolio-list__grid">
						{% for portfolio in portfolios %}
						<li>
							<div class="portfolio-list__item">
								<a class="portfolio-list__link js-portfolio-popup" href="{{ portfolio.popup }}" data-caption="{{ portfolio.title }}">
									<div class="portfolio-list__image">
										<img src="{{ portfolio.thumb }}" alt="{{ portfolio.title }}" loading="lazy" />
									</div>
								</a>
								<span class="portfolio-list__title">{{ portfolio.title }}</span>
								{% if portfolio.description %}
								<span class="portfolio-list__description">{{ portfolio.description }}</span>
								{% endif %}
							</div>
						</li>
						{% endfor %}
					</ul>
					<div class="container-pagination">
						{{ pagination }}
					</div>
					{% if results %}
					<div class="portfolio-list__results">{{ results }}</div>
					{% endif %}
				</div>
			</div>
			<!-- Portfolio List :: End-->
		</div>
		{{ column_right }}
	</div>
	{{ content_bottom }}
</main>
<!-- Main :: End-->

<script type="text/javascript"><!--
$(document).ready(function() {
	// Initialize Fancybox for portfolio images
	$('.js-portfolio-popup').fancybox({
		buttons: [
			'zoom',
			'slideShow',
			'fullScreen',
			'thumbs',
			'close'
		],
		loop: true,
		protect: true,
		caption : function( instance, item ) {
			return $(this).data('caption');
		},
		afterLoad: function(instance, current) {
			// Add caption below image
			if (current.opts.$content) {
				var caption = current.opts.caption;
				if (caption) {
					current.opts.$content.append('<div class="fancybox-caption-custom">' + caption + '</div>');
				}
			}
		}
	});
});
//--></script>

{{ footer }}
